.icon
{
  vertical-align: middle;
  display: inline-block;
  margin-top: 10px;
}

.space {
    margin-left: 5px;
}

.text {
    vertical-align: middle;
    display: inline-block;
    margin-top: 5px;
  }